@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
 
body {
    background-color: #131520;
    color: white;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}